In [1]:
1,2,3

(1, 2, 3)

In [2]:
x,y=(1,2)

In [3]:
y,x=x,y

In [5]:
x

2

In [6]:
y

1

In [7]:
x={}

In [9]:
y=dict()

In [12]:
type(y)

dict

In [13]:
print(type(y))

<class 'dict'>

In [14]:
 d = {'name':'홍길동', 'age':20, 'addr':'seoul'}

In [15]:
d

{'name': '홍길동', 'age': 20, 'addr': 'seoul'}

In [16]:
 d['name']

'홍길동'

In [22]:
d.get('name','default value')

'default value'

In [23]:
x2 = dict(zip(['a', 'b', 'c'], [10, 20, 30]))

In [24]:
x2

{'a': 10, 'b': 20, 'c': 30}

In [25]:
a = {}
a.update(name="kim")
print(a)
a.update(name="lee")
print(a)

{'name': 'kim'}
{'name': 'lee'}

In [30]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
print(x.pop('a'))   # del x[‘a’]
print(x)
print(x.pop('z',0))

10
{'b': 20, 'c': 30, 'd': 40}
0

In [27]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
x.setdefault('f', 100)
print(x)
x.setdefault('f', 999)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

10
{'b': 20, 'c': 30, 'd': 40}
0

In [31]:
a = {'name': 'park', 'phone': '01012345678', 'birth': '0104'}
b = a.keys()
print(b)
print(type(b))
c = list(b)
print(type(c))

dict_keys(['name', 'phone', 'birth'])
<class 'dict_keys'>
<class 'list'>

In [32]:
a = {'name': 'park', 'phone': '01012345678', 'birth': '0104'}
b = a.values()
print(b)
print(type(b))

dict_values(['park', '01012345678', '0104'])
<class 'dict_values'>

In [34]:
s1 = {'line', 'rectangle', 'triangle'}

In [36]:
s1

{'line', 'rectangle', 'triangle'}

In [37]:
'Hello %s' % 'World'

'Hello World'

In [39]:
age = 20
name = 'Swaroop'
 
print('{0} was {1} years old when he wrote this book'.format(name, age)) 
print('Why is {0} playing with that python?'.format(name))

Swaroop was 20 years old when he wrote this book
Why is Swaroop playing with that python?

In [40]:
print ('{0:.3f}'.format(1.0/3))

0.333

In [41]:
arr = [1,2,3,4]
brr = [10,20,30]

result = [x * y for x in arr
                  for y in brr]
print(result)

[10, 20, 30, 20, 40, 60, 30, 60, 90, 40, 80, 120]

In [42]:
arr = [1,2,3,4,5,6,7,8,9,10]

result = [x * 2 for x in arr if x % 2 == 0]
print(result)

[4, 8, 12, 16, 20]