[pandas cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

# 1. pandas의 설치 여부를 확인한다.
> !pip show pandas

In [ ]:
!pip show pandas

# 2. pandas를 import한다.
> import pandas as pd

In [3]:
import pandas as pd

#  3. DataFrames을 만든다

In [4]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

## - 특정 값만 행,열 지정해서 가지고 올 때
> df.컬럼명  
> df['컬럼명']  
> df[['컬럼명','컬럼명']]  
> df.loc[행]  
> df.loc[행,열]

In [5]:
df.a

1    4
2    5
3    6
Name: a, dtype: int64

In [6]:
df['a']

1    4
2    5
3    6
Name: a, dtype: int64

In [7]:
df[['a','c']]

   a   c
1  4  10
2  5  11
3  6  12

In [9]:
df.loc[3]

a     6
b     9
c    12
Name: 3, dtype: int64

In [8]:
df.loc[3,'a']

6

In [11]:
df.loc[[1,3],['a','b']]

   a  b
1  4  7
3  6  9

In [ ]:
df = pd.DataFrame(
    [[4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])
df

In [ ]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(
    [('d',1),('d',2),('e',2)],
    names=['n','v']))
df